@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* Set the font family for the entire page */
.menu-page body {
  font-family: 'Inter', sans-serif;
}

/* Style for the main heading (h1) */
.menu-page h1 {
  font-size: 50pt;
}

/* Container for the introduction section */
.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* Header of the menu section */
.menu-header {
  text-align: center;
  padding: 10px 20px; 
  margin-top: 25px;
  margin-bottom: 10px;
}

/* Introduction section of the menu */
.menu-intro {
  text-align: center;
  padding: 1px 20px; 
  margin-top: 10px;
}

.menu-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 150px;
}

.menu-img {
  flex: 1;
  text-align: center;
  max-width: 100%; 
  height: auto; 
}

/* Style for headings inside menu sections */
.menu-page figcaption h2 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Style for menu buttons */
.menu-button {
  background-color: white;
  color: black;
  font-size: 18pt;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 20px;
}

/* Style for the menu popup */
.menupopup-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
}

.menupopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 2%;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
}

/* Center content inside the menu popup */
.popup-content {
  text-align: center;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  
  .menu-header {
    padding: 10px; 
  }

  .menu-intro {
    padding: 10px; 
  }

  .menu-sections {
    padding: 10px; 
  }

  .menu-button {
    font-size: 16pt; 
  }

}

@media screen and (max-width: 450px) {

  .menu-page h1 {
    font-size: 30pt;
  }

}