
.header {
    display: flex;
    justify-content: center; /* align of our container */
}

.greenBox {
    background-color: #86AB59;
    width: 70%;
    border-radius: 0.5rem;
    display: flex;

    padding: 1rem;
}

.logoImage {
    width: 40%;
    max-height: 8rem;
    aspect-ratio: 326/122;

    background-image: url("../../../public/logo.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.textAfterImage {
    padding-left: 20px;
    font-size: 20pt;
    font-weight: bold;
    color: rgb(248, 246, 246);
    font-family: 'Noto Sans Gujarati', sans-serif;
}

@media screen and (max-width: 1000px) {
    .greenBox {
        align-items: center;
        justify-content: center;
    }
    .logoImage {
        width: 100%;
    }
    .textAfterImage {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .greenBox {
        width: 100%;
    }
    .logoImage {
        max-height: initial;
        width: 80%;
    }
    .logo-icon {
        display: none;
    }
}