/* socialbar.css*/
.navSocial {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.socialbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 1rem;
    width: min-content;
}

@media screen and (max-width: 1050px) {
    .navSocial {
        flex-direction: column;
    }
}